version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: my_ramen_backend_app
    working_dir: /var/www
    volumes:
      - ./:/var/www
    expose:
      - 9000
    depends_on:
      - db

  web:
    image: nginx:alpine
    container_name: my_ramen_backend_nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
